<app-header></app-header>
<main class="main-container">
    <app-card buttonLabel="Кандидати" iconClass="fa-solid fa-user-nurse" cardInfo="Намерете работа, която съответства на вашите умения и интереси."></app-card>
    <app-card buttonLabel="Обяви за работа" iconClass="fa-solid fa-building" cardInfo="Разгледайте най-новите обяви за работа от различни индустрии."></app-card>
    <app-card buttonLabel="Работодатели" iconClass="fa-solid fa-user-tie" cardInfo="Наемете квалифицирани кандидати за вашата компания."></app-card>
</main>
<app-footer></app-footer>