<app-header></app-header>
<main>
  <div class="card">
    <div class="card-details">
      <i class="fa-solid fa-user profile-icon"></i>
      <div>
        <p class="text-body">
          <i class="fa-solid fa-user"></i>{{ displayModel.displayName }}
        </p>
        <p class="text-body">
          <i class="fa-solid fa-envelope"></i>{{ displayModel.email }}
        </p>
        <p class="text-body">
          <i class="fa-solid fa-phone"></i>{{ displayModel.phoneNumber }}
        </p>
      </div>
    </div>
    <button class="card-button" (click)="this.authService.logout()">Изход</button>
  </div>
  <div></div>
</main>
