main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.card {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid black;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-out;
  overflow: visible;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.3);

    .card-button {
      border-color: black;
      color: #fff;
      transform: translate(-50%, 45%);
    }
  }
}

.card-details {
  color: black;
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  align-content: space-between;

  .text-body {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}

.profile-icon {
  font-size: 5rem;
  color: #008bf8;
}

.card-button {
  transform: translate(-50%, 50%);
  width: 60%;
  border-radius: 1rem;
  border: 2px solid black;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 1;
  transition: 0.3s ease-out;
  cursor: pointer;
}
