<app-header></app-header>
<main>
  <div class="card">
    <div class="card-details">
      <ng-container *ngIf="displayModel.profileImageUrl; else defaultIcon">
        <img
          [src]="displayModel.profileImageUrl"
          alt="Profile Picture"
          class="profile-picture"
        />
      </ng-container>
      <ng-template #defaultIcon>
        <i class="fa-solid fa-user profile-icon"></i>
      </ng-template>
      <label
        for="profileImageInput"
        class="change-profile-link"
        style="cursor: pointer"
      >
        Смени профилна снимка
        <input
          type="file"
          id="profileImageInput"
          accept="image/*"
          (change)="onFileSelected($event)"
          style="display: none"
        />
      </label>
      <div>
        <p class="text-body">
          <i class="fa-solid fa-user"></i>{{ displayModel.displayName }}
        </p>
        <p class="text-body">
          <i class="fa-solid fa-envelope"></i>{{ displayModel.email }}
        </p>
        <p class="text-body">
          <i class="fa-solid fa-phone"></i>{{ displayModel.phoneNumber }}
        </p>
      </div>
    </div>
    <button class="card-button" (click)="this.authService.logout()">
      Изход
    </button>
  </div>
  <div class="description-box">
    <h3 *ngIf="userRole === 'Employer'">Описание на работодателя</h3>
    <h3 *ngIf="userRole === 'User'">CV</h3>
    <textarea
      [(ngModel)]="displayModel.description"
      class="description-textarea"
      rows="8"
    ></textarea>
    <button class="save-desc-btn" (click)="onSave()">Запази описанието</button>
  </div>
</main>
