<div class="wrapper">
  <div class="job-detail-container">
    <h2>{{ jobData.title }}</h2>
    <div class="job-detail">
      <div class="job-detail-item">
        <strong>Компания:</strong>
        <span>{{ jobData.company }}</span>
      </div>
      <div class="job-detail-item">
        <strong>Локация:</strong>
        <span>{{ jobData.location }}</span>
      </div>
      <div class="job-detail-item">
        <strong>Публикувана на:</strong>
        <span>{{ jobData.postedAt | date }}</span>
      </div>
      <div class="job-description">
        <h3>Описание:</h3>
        <p>{{ jobData.description }}</p>
      </div>
    </div>
    <button (click)="onGoBack()">Назад</button>
  </div>
</div>
