<div class="wrapper">
  <div class="job-detail-container">
    <h2>Позиция: {{ jobData.title }}</h2>
    <div class="job-detail">
      <div class="job-detail-item">
        <strong>Компания:</strong>
        <span>{{ jobData.company }}</span>
      </div>
      <div class="job-detail-item">
        <strong>Телефон за връзка</strong>
        <span>{{ employerData.contactPhone }}</span>
      </div>
      <div class="job-detail-item">
        <strong>Email</strong>
        <span>{{ employerData.contactEmail }}</span>
      </div>
      <div class="job-detail-item">
        <strong>Локация:</strong>
        <span>{{ jobData.location }}</span>
      </div>
      <div class="job-description">
        <h3>Описание:</h3>
        <p>{{ jobData.description }}</p>
      </div>
    </div>
    <div class="button-row">
      <button (click)="onGoBack()">Назад</button>
      <button
        *ngIf="userRole === 'User'"
        (click)="onSendCv()"
        class="send-cv-btn"
      >
        Изпрати CV
      </button>
    </div>
  </div>
</div>
