<app-header></app-header>
<main class="main-container">
  <app-card
    buttonLabel="Кандидати"
    iconClass="fa-solid fa-user-nurse"
    cardInfo="Наемете квалифицирани кандидати за вашата компания."
    buttonLink="/workers"
  ></app-card>
  <app-card
    buttonLabel="Обяви"
    iconClass="fa-solid fa-building"
    cardInfo="Разгледайте най-новите обяви за работа от различни индустрии."
    buttonLink="/positions"
  ></app-card>
  <app-card
    buttonLabel="Работодатели"
    iconClass="fa-solid fa-user-tie"
    cardInfo="Открийте работодатели, които търсят вашите умения и интереси."
    buttonLink="/employers"
  ></app-card>
</main>
<app-footer></app-footer>
